* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
  font-family: 'Caveat', cursive;
  font-size: 25px;
}
/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
}
a {
  text-decoration: none;
  padding: 20px;
  color: white;
  font-weight: 600;
  font-size: 25px;
}
a:hover {
  color: yellow;
  transition: 0.5s ease-in-out;
}
.header-logo {
  margin-right: 450px;
}

/*front page*/
.front-page {
  text-align: center;
  text-transform: uppercase;
  padding: 300px 200px;
  background-image:url(../photos/главная.jpg);
}
.front-page-name {
  font-size: 70px;
  padding-bottom: 15px;
  color: yellow;
}
.front-page-slogan {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 50px;
  color: white;
}
.front-page-btn {
  background: none;
  font-weight: bold;
  border: solid white 1px;
  font-size: 20px;
  padding: 5px;
  text-transform: uppercase;
}
.front-page-btn:hover {
  background-color: yellow;
  border: solid yellow 1px;
  cursor: pointer;
}

/*цитата*/
.purpose {
  padding: 60px 30px;
  text-align: center;
  font-size: 60px;
}
.purpose-name {
  padding-bottom: 40px;
}

/*tours*/
.tours-baikal {
  display: flex;
  align-items: flex-start;
  margin: 40px;

}
.tours-image img {
  width: 500px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 14px 7px 19px 0 rgba(34, 60, 80, 0.2);
}
.tours-image {
  margin: 10px 20px 10px 20px;
}
.tours-info {
  padding-top: 70px;
  font-size: 25px;
}
.tours-kenia,.tours-info{
  padding-bottom: 70px;
  padding-left: 15px;
}
.tours-kenia {
  display: flex;
  align-items: flex-end;
  margin: 40px;
}
.another-page-btn {
  background: none;
  border: solid 1px black;
  color: black;
  padding: 10px;
  font-size: 25px;
  margin-top: 10px;
}
.another-page-btn:hover {
  background: yellow;
  border: solid 1px yellow;
  cursor: pointer;
}
.tours-alpi {
  display: flex;
  align-items: flex-start;
  margin: 40px;
}
/*наши преимущества*/
.why-we {
  display: flex;
  justify-content: center;
  color: yellow;
  background-color: gray;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 50px;
}
/*особенности компании*/
.plus {
  display: flex;
  margin: 10px 40px 40px 40px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;

}
.plus-our-advantages {
  width: 500px;
  text-align: center;
  padding: 30px;
}
.plus-our-advantages img {
  width: 150px;
  height: 150px;
  margin: 40px 0;
}

/*footer*/
.footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 40px;
  padding: 10px;
}
.footer span {
  margin-left: 400px;
}

