* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
}
a {
  text-decoration: none;
  padding: 20px;
  color: white;
  font-weight: 600;
  font-size: 25px;
}
a:hover {
  color: yellow;
  transition: 0.5s ease-in-out;
}
.header-logo {
  margin-right: 450px;
}
.front-page {
  text-align: center;
  text-transform: uppercase;
  padding: 300px 200px;
  background-image:url(../photos/journey-g165ea0e8e_1920.jpg);
}
.front-page-name {
  font-size: 70px;
  padding-bottom: 15px;
  color: yellow;
}
.front-page-slogan {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 50px;
  font-style: italic;
}
.front-page-btn {
  background: none;
  font-weight: bold;
  border: solid white 1px;
  font-size: 20px;
  padding: 5px;
  text-transform: uppercase;
}
.front-page-btn:hover {
  background-color: yellow;
  border: solid yellow 1px;
  cursor: pointer;
}
.purpose {
  padding: 50px 150px;
  background-color:white;
  text-align: center;
}
.purpose-name {
  padding-bottom: 40px;
}
.tours {
  padding: 30px;
}
.tours-baikal {
  display: flex;
  align-items: flex-start;
  margin: 40px;
}
.tours-info {
  vertical-align: center;
  margin-left: 180px;
  margin-right: 180px
}
.tours-image img {
  width: 500px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 14px 7px 19px 0 rgba(34, 60, 80, 0.2);
}
.tours-image {
  margin-left: 180px;
  margin-right: 180px;
}
.tours-kenia {
  display: flex;
  align-items: flex-end;
  margin: 40px;
}
.another-page-btn {
  background: none;
  border: solid 1px black;
  color: black;
  padding: 10px;
  font-size: 15px;
  margin-top: 10px;
}
.another-page-btn:hover {
  background: yellow;
  border: solid 1px yellow;
  cursor: pointer;
}
.tours-alpi {
  display: flex;
  align-items: flex-start;
  margin: 40px;
}
.footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 40px;
  padding: 10px;
}
.footer span {
  margin-left: 400px;
}

